@import url('https://fonts.googleapis.com/css2?family=Tajawal');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal';
}

header {
    height: 7vh;
    background-color: white;
}

main {
    min-height: 80vh;
}

nav {
    height: 100%;
}

footer {
    height: 13vh;
    background-color: white;
}

li {
    list-style: none;
}


nav>img {
    height: 75%;
}

.payForm {
    width: 18rem;
    background-color: white;
    margin: 1rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contenedorCanvas {
    z-index: 1;
    height: 21rem;
    width: fit-content;
    background-color: white;
}

@media (min-width: 760px) {
    .payForm {
        width: 24rem;
    }
}

@media (min-width: 1024px) {
    .payForm {
        width: 30rem;
    }
    .payForm>form{
        width: 60%;
    }

}